.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;  
  background-color: var(--azul-primario);
  z-index: 999;
  top: 0;
  position: sticky;
}

.hdr-logo {
  max-width: 100px;
}

.hdr-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 50px;
  font-size: '25px';
}

.hdr-text a {
  position: relative;
  text-decoration: none;
  color: var(--cinza-primario);
  font-size: 18px;
  padding-bottom: 4px;
}

.hdr-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;
  background: var(--cinza-primario);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

/* Linha aparece no hover */
.hdr-text a:hover::after {
  transform: scaleX(1);
}

.hdr-text {
  font-family: var(--fonte-roboto);
  font-weight: var(--peso-titulo);
  color: var(--cinza-primario);
}

.hdr-button {
  width: 120px;
  height: 50px;
  background-color: var(--azul-botoes);
  border: none;
  border-radius: 24px;
  color: var(--cinza-primario);
  font-weight: var(--peso-titulo);
  font-size: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  transition: background 0.25s ease, transform 0.2s ease;
}

.hdr-button:hover {
  background: #1f4ecc;
  transform: translateY(-2px);
}