.documentos-dashboard {
  background-color: #ADADAD;
  height: 83.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.processos-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 80%;
  height: 700px;
  margin-top: 35px;
  gap: 20px;
}

.item-list {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: #D9D9D9;
  height: 70px;
  align-items: center;
  transition: background 0.25s ease, transform 0.2s ease;
  justify-content: space-between;
}

.item-list:hover {
  transform: translateY(-3px);
}

.item-list p {
  font-family: var(--fonte-quicksand);
  font-size: 24px;
  margin-left: 15px;
}

.img-set-open {
  margin-right: 15px;
}



