.entire-page {
  display: flex;
  flex-direction: row;
}

.aside-container {
  background-color: var(--azul-primario);
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-voltar-inicio {
  background-color: var(--azul-botoes);
  color: white;
  font-family: var(--fonte-quicksand);
  font-size: 16px;
  font-weight: 500;
  width: 45%;
  height: 5%;
  border: none;
  border-radius: 24px;
  margin: 15px 0 0 15px;
  cursor: pointer;

  transition: background 0.25s ease, transform 0.2s ease;
}

.btn-voltar-inicio:hover {
  background: #1f4ecc;
  transform: translateY(-2px);
}

.form-container-auth {
  margin-top: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titulo-aside {
  font-family: var(--fonte-quicksand);
  color: white;
  font-size: 40px;
}

.input-text {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
}

.btn-submit-form {
  width: 70%;
  height: 40px;
  background-color: var(--azul-botoes);
  color: white;
  font-family: var(--fonte-quicksand);
  font-size: 24px;
  border: none;
  border-radius: 28px;
  cursor: pointer;

  transition: background 0.25s ease, transform 0.2s ease;
}

.link-login {
  margin-left: 20%;
  text-decoration: none;
  display: flex;
  color: white;
  width: 70%;
  height: 40px;
}

.btn-submit-form:hover {
  background: #1f4ecc;
  transform: translateY(-2px);
}

.nova-conta-text {
  color: white;
  font-family: var(--fonte-quicksand);
  text-align: end;
  margin: 30px 15px 0 0;
}

.image-container {
  width: 80%;
  background-image: url("logBg.png");
}

.first-text {
  color: white;
  font-family: var(--fonte-quicksand);
  font-weight: 400;
  margin: 20px 0px 10px 20px;
  font-size: 40px;
}

.second-text {
  color: white;
  font-family: var(--fonte-quicksand);
  font-weight: 400;
  margin: 20px 0px 10px 40px;
  font-size: 40px;
}
